<div class="container">
  <ul id="complianceConfigureTabs" class="nav nav-tabs">
    <li class="active"><a href="#configure" data-toggle="tab">Configuration</a></li>
    <li><a href="#uninstall" data-toggle="tab">Uninstall</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="configure">
        <div class="row-fluid">
            <div class="span3">
              <div style="margin:5px;">
                <h5>Compliance Feature</h5>
                <label for="complianceFeatureOn">
                  <input type="radio" name="complianceFeature" id="complianceFeatureOn" value="on" disabled="disabled" /> on
                </label>
                <label for="complianceFeatureOff">
                  <input type="radio" name="complianceFeature" id="complianceFeatureOff" value="off" disabled="disabled" /> off
                </label>
              </div>
            </div>

          <div class="span3">
            <div style="margin:5px;">
              <h5>Versioning Feature</h5>
              <label for="complianceFeatureOn">
                <input type="radio" name="versioningFeature" id="versioningFeatureOn" value="on" /> on
              </label>
              <label for="complianceFeatureOff">
                <input type="radio" name="versioningFeature" id="versioningFeatureOff" value="off" /> off
              </label>
            </div>
          </div>
        </div>
    </div>

    <div class="tab-pane fade" id="uninstall">
      <div>
        <button id="uninstallBtn" type="button" class="btn btn-danger">Uninstall</button>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag "compliance_plugin/configure" %>