<div class="container">
  <div style="text-align:center;margin:64px 0 0 0;">
    <h4 id="installationStatus">Click <a id="installationBtn" href="javascript:void(0);">here</a> to install</h4>
  </div>
</div>

<%= javascript_include_tag "compliance_plugin/installer" %>